<!--
CHANGE HISTORY
DATE        NAME                DESCRIPTION
03-04-2025  adorog12@uw.edu     Add additional ViewData elements.
-->
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["FirstName"] = "Chuck";
    ViewData["LastName"] = "Costarella";
    ViewData["Email"] = "costarec@contosou.edu";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["FirstName"]</h2>
<h3>@ViewData["LastName"]</h3>
<h3>@ViewData["Email"]</h3>

<p>Use this page to detail your site's privacy policy.</p>
